.rains {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.rains::after {
    /* background-color: blue; */
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 24px;
    left: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid white;
}


#back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(grey, rgb(22, 22, 110), rgb(88, 88, 190), lightblue, rgb(114, 160, 114), rgb(128, 34, 34));
}